<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title shown in window title</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <main>
      <h1>Welcome to BurgersBurgersBurgers online!</h1>
    </main>

    <section>
      <h2>Select burger</h2>
      <p>This is where you choose your burger</p>

      <table>
        <thead>
          <tr>
            <th>The cartoon burger</th>
            <th>The drawn burger</th>
            <th>No pickles whatsoever</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img
                src="https://i.pinimg.com/originals/97/db/40/97db403e45dfe7de86b1b8773dfec9a6.jpg"
                alt="Krabby Patty burger"
                title="Krabby Patty"
                width="200"
              />
            </td>
            <td>
              <img
                src="https://www.pngitem.com/pimgs/m/68-682038_burger-black-and-white-icon-hd-png-download.png"
                alt="Drawn burger"
                title="Drawn burger"
                width="200"
              />
            </td>
            <td>
              <img
                src="https://ih1.redbubble.net/image.777614444.5824/st,small,507x507-pad,600x600,f8f8f8.u1.jpg"
                alt="No pickles"
                title="If you hate pickles"
                width="200"
              />
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>Tasty fictional burger</li>
                <li>Free of calories</li>
                <li>Guaranteed watery</li>
              </ul>
              <div><p>Goes well with this burger:</p></div>
              <ol>
                <li>Beer 1</li>
                <li>Milk</li>
                <li>Fish sauce</li>
              </ol>
            </td>
          
          
            <td>
              <ul>
                <li>Insane drawn burger</li>
                <li>Free of anything</li>
                <li>Guaranteed earthy</li>
              </ul>
              <div><p>Goes well with this burger:</p></div>
              <ol>
                <li>Beer 2</li>
                <li>Water</li>
                <li>A Colour Palette</li>
              </ol>
            </td>
          
          
            <td>
              <ul>
                <li>Anything but a pickle</li>
                <li>Free of pickles</li>
                <li>Guaranteed free of pickles</li>
              </ul>
              <div><p>Goes well with this burger:</p></div>
              <ol>
                <li>Tasty beer</li>
                <li>Wine</li>
                <li>Whiskey</li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <h2>Customer information</h2>
      <p>This is where you provide necessary information</p>
      <h3>Delivery information</h3>
    </section>

    <hr />
    <footer>My contact details are none of your business</footer>
  </body>
</html>
